




<h1>Tree Crud </h1>

<!-- <button  (click)="getAllNodes()">Search</button> -->

<mat-tree [dataSource]="dataSource" [treeControl]="treeControl">
  <!-- Node with no content -->
  <mat-tree-node *matTreeNodeDef="let node; when: hasNoContent " matTreeNodePadding>
  
  </mat-tree-node>

  <!-- Regular node -->
  <mat-tree-node *matTreeNodeDef="let node " matTreeNodePadding>
    <mat-card>

      <mat-card-content>

        <button (click)="fetchNode(node)" mat-icon-button matTreeNodeToggle [attr.aria-label]="'Toggle ' + node.item" *ngIf="node.expandable">
          <mat-icon class="mat-icon-rtl-mirror">
            {{treeControl.isExpanded(node) ? 'expand_more' : 'chevron_right'}}
          </mat-icon>
        </button>

        <!-- Add space for removed button if not expandable -->
        <div *ngIf="!node.expandable" class="pad">

        </div>
        {{node.name}}
        <mat-progress-bar *ngIf="node.isLoading"
        mode="indeterminate"
        class="example-tree-progress-bar"></mat-progress-bar>

        <button   style="margin-left: 10px;" mat-icon-button (click)="addNewItem(node)">
          <mat-icon>add</mat-icon>
        </button>
        <!--  *ngIf="(!node.expandable && !node.isRoot)" -->
        <button  style="margin-left: 10px;" mat-icon-button (click)="deleteNode(node)">
          <mat-icon>delete</mat-icon>
        </button>

        <button style="margin-left: 10px;" mat-icon-button (click)="updateNodeextra(node)">
          <mat-icon>update</mat-icon>
        </button>

        <button  style="margin-left: 10px;" mat-icon-button (click)="dispatchedNode(node)">
          <mat-icon>drag_handle</mat-icon>
        </button>

        <!-- update Field-->

        <mat-card *ngIf="node.updating" class="example-card">
          <mat-card-content>
            <button mat-icon-button disabled></button>
            <mat-form-field>
              <mat-label>Add Value to get updated ...</mat-label>
              <input matInput #itemValue name="itemValue" placeholder="Ex. Lettuce" required>
            </mat-form-field>
            <!-- getupdatedValue -->
            <app-button matTooltip="update" [color]="'primary'" [text]="'Update'" mat-button
              (click)="getupdatedValue(node,itemValue.value)">Save</app-button>
          </mat-card-content>

        </mat-card>
        <!-- update Field End-->

        <!-- select option for parent  -->
        <mat-card *ngIf="node.isdraged" class="example-card">
          <mat-card-content>
            <form>
              <!-- <h5>choose parent </h5> -->
              <mat-form-field appearance="fill">
                <mat-label>Select Node TO Drop Node</mat-label>
                <mat-select [(ngModel)]="selected" name="node">
                  <mat-option *ngFor="let option of selectOptions" [value]="option">
                    {{option.name}}
                  </mat-option>
                </mat-select>
                <!-- debug button -->
              </mat-form-field>

              <button style="margin-left: 10px;" mat-icon-button (click)="updateNodePosition(node)">
                <mat-icon>save</mat-icon>
              </button>
              <!-- <p> Selected parent: {{selected}} </p> -->
            </form>
          </mat-card-content>
        </mat-card>
        <!-- select option for parent End -->

        <mat-card *ngIf="node.adding"  class="example-card">
          <mat-card-content>
            <button mat-icon-button disabled></button>
            <mat-form-field>
              <mat-label>New item...</mat-label>
              <input matInput #itemValue placeholder="Ex. Lettuce" />
            </mat-form-field>
            <app-button [color]="'warn'" [text]="'Add'" mat-button
              (click)="saveNode(node, itemValue.value)">Save</app-button>
          </mat-card-content>
        </mat-card>

      </mat-card-content>
    </mat-card>
  </mat-tree-node>

</mat-tree>



