<mat-toolbar color="primary">
  <button mat-icon-button class="example-icon" aria-label="Example icon-button with menu icon">
    <mat-icon>menu</mat-icon>
  </button>
  <span>My App</span>
  <span class="example-spacer"></span>
  <button style="margin-right: 3px;" mat-icon-button class="example-icon favorite-icon " aria-label="Example icon-button with heart icon" [routerLink]="['/']">
    <mat-icon>home</mat-icon>
  </button>
  
  <button mat-icon-button  class="example-icon " aria-label="Example icon-button with share icon" [routerLink]="['/card']">
    <mat-icon>add_shopping_cart</mat-icon>
  </button>
</mat-toolbar>
